'context-menu':
  '.image-view': [{
    label: 'Minify image',
    command: 'imagemin:minify'
  }]

'menu': [{
  label: 'Packages'
  submenu: [
    label: 'Imagemin'
    submenu: [{
      label: 'Minify image',
      command: 'imagemin:minify'
    }]
  ]
}]
